<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:ios-passkey-api-kenmaro3.vercel.app?mode=developer</string>
		<string>webcredentials:0f50-2001-f70-96a0-3800-19db-e81-64c2-46f6.ngrok-free.app</string>
	</array>
</dict>
</plist>
